body{
    font-family: Ubuntu;
    padding-top: 70px;
}
.col-4{
    border-radius: 2px;
    border-color: gray;
}
.card{
    border-radius: 2px;
    border-color: gray;
    background-color: aqua;
}
.placeholder{
    height: 300px;
}

.table{
    overflow-y:scroll;
    height:200px;
}
