body{
    font-family: Ubuntu;
}
.col-4{
    border-radius: 2px;
    border-color: gray;
}
.card{
    border-radius: 2px;
    border-color: gray;
    background-color: white;
}
.placeholder{
    height: 300px;
}

#StartGame {
    max-height: 50px;
    overflow-y: scroll;
    transition: ease-in 0.5s;
}

.table{
    overflow-y:scroll;
    height:200px;
}

.navbar{
    margin-left: 10px; 
    margin-right: 10px;
    margin-bottom: 10px;
}

.dropdown-menu.dropdown-menu-wide {
    min-width: 100%;
    text-align: center;
  }

