{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <script src="https://apis.google.com/js/platform.js"></script>
    <meta name="google-signin-client_id"
        content="943788471911-pt9a1gjjvgvfn3lg98kddq118medg0fd.apps.googleusercontent.com">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/home.css' %} " />
</head>

<body>
    {% load socialaccount %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd; margin-bottom: 50px;">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container-fluid">
                <a class="navbar-brand" href="{% url 'Home' %}">UVA Scavenger Hunt</a>
            </div>
            <div class="btn-group">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="{% url 'Home' %}">Home</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'first_page_game' %}">Create Game</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'choose_game' %}">Choose Game</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="{% url 'approval' %}">Approve Location</a><br>
                        </li>
                        <li>
                            <a class="dropdown-item" href="logout">Logout</a>
                        </li>
                    </ul>
                </li>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="col d-flex justify-content-center">
            <div class="card " style="width: 40rem; background-color: white;">
                <div class="card-header">
                    <h1 style="text-align: center;">Welcome Admin {{admin.user_name }} !</h1>
                </div>
                <div class="card-body">
                    <div class="col d-flex justify-content-center">
                        <u1 class="list-group list-group-flush">
                            <li class="list-group-item">
                                <a href="{% url 'input_location' %}"><button type="button"
                                        class="btn btn-primary btn-lg"
                                        style="margin-top: 5px; margin-bottom: 5px;">Create
                                        Point</button></a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'choose_game' %}"><button type="button" class="btn btn-primary btn-lg"
                                        style="margin-top: 5px; margin-bottom: 5px;">Choose Game</button></a>
                            </li>
                            <li class="list-group-item">
                                <a href="{% url 'approval' %}"><button type="button" class="btn btn-primary btn-lg"
                                        style="margin-top: 5px; margin-bottom: 5px;">Approve A User
                                        Submitted Location </button></a>
                            <li class="list-group-item">
                                <a href="logout"><button type="button" class="btn btn-primary btn-lg"
                                        style="margin-top: 5px; margin-bottom: 5px;">Logout</button></a>
                            </li>
                    </div>
                </div>

            </div>

        </div>
    </div>
    </div>
</body>

</html>