{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/home.css' %} " />
</head>
<body>
<form method="POST" enctype="multipart/form-data">


    {{ GameFormSet.management_data }}


    {% csrf_token %}


    {{ GameFormSet.as_p }}

    <input type="submit" value="Submit">
</form>
</body>
</html>

