{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="https://apis.google.com/js/platform.js"></script>
  <meta name="google-signin-client_id"
    content="943788471911-pt9a1gjjvgvfn3lg98kddq118medg0fd.apps.googleusercontent.com">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="keywords" content="HTML, CSS" />
  <title>{% block title %}{% endblock %}</title>
  {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{% static 'user/home.css' %} " />
</head>

<body>
  {% load socialaccount %}
  {% if user.is_authenticated %}
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Home' %}">UVA Scavenger Hunt</a>
      </div>
      <div class="btn-group">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'Home' %}">Home</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'first_page_game' %}">Create Game</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'your_game' %}">Your Games</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'choose_game' %}">Start A Game!</a>
            </li>
            <li>
              <a class="dropdown-item" href="logout">Logout</a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="card mx-auto" style="width: 50rem;">
      <div class="card-header">
        <h1>Welcome to the UVA Scavenger Hunt! </h1>
      </div>
      <div class="card-body">
        <div class="row">
          <h4>This website allows you to create and play your own tailored scavenger hunts as well as other peoples
            hunts!
          </h4>
        </div>
        <div class="row">
          <a href="{% url 'first_page_game' %}"><button class="btn-lg btn-outline-primary">Create Game</button></a>
        </div>
        <div class="row">
          <a href="{% url 'your_game' %}"><button class="btn-lg btn-outline-primary">View Your Game
              Submissions</button></a>
        </div>
        <div class="row">
          <div class="btn-group">
            <button type="button" class="dropdown-toggle btn-lg btn-outline-primary" data-bs-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
              Choose a Scavenger Hunt to Start Playing
            </button>
            <div class="dropdown-menu" id="#StartGame">
              {% for game in games %}
              <a class="dropdown-item" href="{% url 'Map' game.id %}"> {{ game.game_name }}</a><br>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
      </div>
      <a href="{% provider_login_url 'google' %}?next=/"><button type="button" class="btn btn-outline-primary">Login
          With
          Google</button></a><br>
    </div>
  </nav>
  <div class="container text-center" style="align-items: center;">
    <div class="card mx-auto" style="width: 40rem;">
      <div class="card-header">
        <h1>Welcome to the Scavenger Hunt!</h1>
      </div>
      <div class="card-body">
        <h3>In order to access the website to create and play scavenger hunts, login with Google</h3>
        <a href="{% provider_login_url 'google' %}?next=/"><button type="button" class="btn btn-outline-primary"> <img
              src="{% static 'user/images/Google Logo.png'%}" alt="Image of Google Logo" style="height: 200px; width: 100%;"></button></a><br>
      </div>
    </div>
  </div>
  {# <div class="g-signin2" data-onsuccess="onSignIn"></div>#}
  {% endif %}
  <footer class="bg-dark bg-info text-center text-lg-start fixed-bottom">
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
      <a class="navbar-brand" href="https://github.com/orgs/uva-cs3240-f23/teams/b-27" style="font-family: Ubuntu;">
        &copy;github Repo
      </a>
    </div>
  </footer>

</body>

</html>


{#learned how to use allauth and some of the html from those URLs: https://www.youtube.com/watch?v=Gk9tsLHMMsM#}
{#https://www.youtube.com/watch?v=yO6PP0vEOMc#}
{#https://www.youtube.com/watch?v=GQySb3W2feo#}
{#Also looked at the google API documentation URL:#}
{#https://developers.google.com/identity/gsi/web/guides/display-buttonhtml#}