{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="HTML, CSS" />
    <title>{% block title %}{% endblock %}</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Ubuntu:wght@300;400;500;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="{% static 'user/home.css' %} " />
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZuOZgsa4NguR95jd7NL1C4Ov01ozSbbc&callback=initMap"></script>
    <script>
        var location_all={{ locations| safe}};
        var guesses = 0;
        var loca_now=location_all[guesses]

        x = navigator.geolocation;
        //{ #x.getCurrentPosition(success, failure);# }
        options = { enableHighAccuracy: false, maximumAge: 0, distanceFilter: 1, timeout: 100 }
        watchID=x.watchPosition(success, failure, options);
        var count = 0;
        var map;
        var marker_current;
        var infowindow_distance = new google.maps.InfoWindow({
            content: "you are very close to the hidden location"
        });
        function haversine_distance(long1, lat1, long2, lat2) {
            var R = 3958.8;
            var rlat1 = lat1 * (Math.PI / 180);
            var rlat2 = lat2 * (Math.PI / 180);
            var difflat = rlat2 - rlat1;
            var difflon = (long2 - long1) * (Math.PI / 180);

            var d = 2 * R * Math.asin(Math.sqrt(Math.sin(difflat / 2) * Math.sin(difflat / 2) + Math.cos(rlat1) * Math.cos(rlat2) * Math.sin(difflon / 2) * Math.sin(difflon / 2)));
            return d * 1609.34;
        }
        function initmap(coords, infoWindow) {
            var mapOptions = {
                zoom: 16,
                center: coords,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            }
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            marker_current = new google.maps.Marker({
                map: map,
                position: coords,
                icon: {
                    url: "http://maps.google.com/mapfiles/arrow.png"
                }
            });
        }
        function success(position) {
            count++;

            var myLat = position.coords.latitude;
            var myLong = position.coords.longitude;
            var user_location = document.getElementById("user_location");

            user_location.innerHTML = "current location longitude：" + myLong + "<br>";
            user_location.innerHTML += "current location latitude：" + myLat + "<br>";

            {#user_location.innerHTML += "count：" + count + "<br>";#}
            {#user_location.innerHTML += " Guesses：" + guesses;#}

            var infoWindow = [];

            var coords = new google.maps.LatLng(myLat, myLong);
            if (count == 1) {
                initmap(coords, infoWindow)
            }
            if (marker_current.position.latitude != coords.latitude || marker_current.position.longitude != coords.longitude) {
                marker_current.setPosition(coords)
            }


            var locations = {{ locations| safe}};
            var flag = false
            locations.forEach(function (data) {
                if (haversine_distance(data.lng, data.lat, myLong, myLat) <= 10000) {
                    flag = true;
                }
            });
            if (flag) {
                infowindow_distance.close();
                infowindow_distance.open(map, marker_current);
            }
            
        }

        function submit_location(){
            var para1 = document.getElementById("hint");
            para1.innerHTML="";
            x.clearWatch(watchID);
            x.getCurrentPosition(position => {
                check_location(position);
            });
        }

        function check_location(position) {
            var para1 = document.getElementById("At");
            var myLat = position.coords.latitude;
            var myLong = position.coords.longitude;

            loca_now=location_all[guesses]
            console.log("location:",loca_now)
            var flag = false
            if (haversine_distance(loca_now.lng, loca_now.lat, myLong, myLat) <= 10000) {
                    flag = true;
                    guesses++;

                }

            console.log("flag:",flag)
            if (flag) {
                para1.innerHTML ="You are at the hidden location_"+ guesses+"!"
                if(guesses>=3){
                    window.location.href = "{% url 'win' %}"
                }
                var clue = document.getElementById("clue");
                clue.innerHTML = "Clue: "+ location_all[guesses].clue
            }
            else{
                para1.innerHTML ="You are not quite there yet to the location"
            }
            watchID=x.watchPosition(success, failure, options);
        }
        function failure() { }
    </script>
    <style type="text/css">
        #map {
            width: 100%;
            height: 60vh;
            padding: 10px;
        }
    </style>
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Home' %}">UVA Scavenger Hunt</a>
      </div>
      <div class="btn-group">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'Home' %}">Home</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'first_page_game' %}">Create Game</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'your_game' %}">Your Games</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'choose_game' %}">Choose Game</a>
            </li>
            <li>
              <a class="dropdown-item" href="logout">Logout</a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </nav>
    <div class="container d-flex flex-column">
        <div class="row">
            <div class="col-8">
                <div class="row">
                    <span class="border">
                        <div id="map"></div>
                        <div id="user_location" style="background-color:tomato;"></div>
                    </span>
                </div>
                <div class="row">
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <div class="card">
                        <div class="card-header">
                            <h1>Clues and Hints</h1>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <h3 id="clue">Clue : Some thing from location model here</h3>
                                <script>
                                      var clue = document.getElementById("clue");
                                      clue.innerHTML = "Clue: " + loca_now.clue;
                                </script>
                            <button id="btn" onclick="changeImage()" type="button" class="btn btn-primary"> Get A Hint
                            </button>
                            <h4 id="hint"></h4>
                            <script>
                                var para1 = document.getElementById("hint");
                                function changeImage() {
                                    para1.innerText = "Hint:" + location_all[guesses].hint;
                                }
                            </script>
                            <div class="row"> 
{#                                {% for location in mydata %}#}
{#                                    <p>Address : {{ location.address }} Lat : {{location.latitude}} Long : {{location.longitude}}</p>#}
{#                                {% endfor %}#}
                                <button id="btn" onclick="submit_location()" type="button" class="btn btn-success">Submit</button>
                                <p id="At"></p>
{#                                <script>#}
{#                                    function submit_location(){#}
{#                                        navigator.geolocation.getCurrentPosition(position => {#}
{#                                        input_location(position);#}
{#                                        });#}
{#                                    }#}
{#                                </script>#}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    <footer class="bg-dark bg-info text-center text-lg-start fixed-bottom">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
            <a class="navbar-brand" href="https://github.com/orgs/uva-cs3240-f23/teams/b-27"
                style="font-family: Ubuntu;">
                &copy;github Repo
            </a>
        </div>
    </footer>

</body>

</html>


{#learned how to show google map API in html from this URL:https://www.w3schools.com/graphics/google_maps_intro.asp#}
{#learned how to get current user location on the map from this URL: https://www.youtube.com/watch?v=xJubVipcHrM#}