<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZuOZgsa4NguR95jd7NL1C4Ov01ozSbbc&callback=initMap"></script>
    <script>
    x=navigator.geolocation;
    x.getCurrentPosition(success,failure);
    function success(position){
        var myLat=position.coords.latitude;
        var myLong=position.coords.longitude

        var user_location = document.getElementById("user_location");
        var textNode1 = document.createTextNode("current location longitude：" + myLong);
        var textNode2 = document.createTextNode("current location latitude：" + myLat);
        user_location.appendChild(textNode1);
        user_location.appendChild(document.createElement("br"));
        user_location.appendChild(textNode2);

        var coords=new google.maps.LatLng(myLat,myLong);
        var mapOptions={
            zoom: 16,
            center: coords,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map=new google.maps.Map(document.getElementById("map"),mapOptions);
        var marker= new google.maps.Marker({
            map:map,
            position:coords,
            icon: {
      url: "http://maps.google.com/mapfiles/arrow.png"
    }
        });

    }

    function failure(){}
</script>
    <style type="text/css">
        #map{
            width:100%;
            height:70vh;
            padding: 10px;
        }
    </style>
</head>
<body>

<h1>Map</h1>


<div id="map"></div>
<div id="user_location" style="background-color:tomato;"></div>
<a href="{% url 'Home' %}">back to homepage</a><br>


</body>
</html>


{#learned how to show google map API in html from this URL:https://www.w3schools.com/graphics/google_maps_intro.asp#}
{#learned how to get current user location on the map from this URL: https://www.youtube.com/watch?v=xJubVipcHrM#}