<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Google Map of UVA</h1>

<div id="googleMap" style="width:100%;height:400px;"></div>

<script>
function myMap() {

var mapProp = {
  center: new google.maps.LatLng(38.0336, -78.5080), // Replace with your coordinates
  zoom: 16, // You can adjust the zoom level as needed
  mapTypeId: google.maps.MapTypeId.ROADMAP
};
var map = new google.maps.Map(document.getElementById("googleMap"),mapProp,);
}
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCZuOZgsa4NguR95jd7NL1C4Ov01ozSbbc&callback=myMap"></script>

</body>
</html>


{#learned how to show google map API in html from this URL:https://www.w3schools.com/graphics/google_maps_intro.asp#}