<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body style="background-color: #e3f2fd">
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <nav
      class="navbar navbar-expand-lg navbar-dark bg-dark"
      style="background-color: #e3f2fd"
    >
      <div class="container-fluid">
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Home</a>
      </div>
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          href="#"
          role="button"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Dropdown
        </a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Home Page</li>
          <li>
            <a class="dropdown-item" href="#"
              >Another Page</a
            >
          </li>
        </ul>
      </li>
    </div>
    </nav>
    <div class="container mt-4">
        <h2 class="mb-4 display-4">Submit New Location</h2>
        <form action="{% url 'input_location' %}" method="post">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="zipcode" class="form-label">Zip Code</label>
                </div>
                <div class="col-md-10">
                    {{ form.zipcode }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="city" class="form-label">City</label>
                </div>
                <div class="col-md-10">
                    {{ form.city }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="country" class="form-label">Country</label>
                </div>
                <div class="col-md-10">
                    {{ form.country }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="address" class="form-label">Address</label>
                </div>
                <div class="col-md-10">
                    {{ form.address }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="hint" class="form-label">Clue</label>
                </div>
                <div class="col-md-10">
                    {{ form.clue }}
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-1">
                    <label for="hint" class="form-label">Hint</label>
                </div>
                <div class="col-md-10">
                    {{ form.hint }}
                </div>
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <div class="mt-4">
            <a class="btn btn-primary" href="{% url 'Home' %}">Back to Homepage</a>
            <a class="btn btn-secondary ms-2" href="{% url 'Map' %}">Back to Map Page</a>
        </div>
    </div>
</body>
</html>
