<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>
<body>
<h1>games submitted by you</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Games</th>
        <th scope="col">Game Description</th>
        <th scope="col">Approved</th>
        <th scope="col">Status(checked by admin)</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
        <td>
            <a href="{% url 'display_game_detail' game.id %}"> {{ game.name }}</a>
        </td>
            <td>
            {{ game.dis }}
        </td>
        <td>
            {{ game.approved }}
        </td>
          <td>
            {{ game.status }}
        </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<a href="{% url 'Home' %}" >back to homepage</a><br>

</body>
</html>

{#learned how to make a link in the table for further details in this URL: https://www.youtube.com/watch?v=DCmxC0NyfrA&list=PLmEKHA8iFrmD6YEiuROna3JmNC7fjq6go&index=2#}