{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% load bootstrap5 %} {% bootstrap_css %} {% bootstrap_javascript %}
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
        aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'Home' %}">UVA Scavenger Hunt</a>
      </div>
      <div class="btn-group">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="{% url 'Home' %}">Home</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'input_location' %}">Create Point</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'first_page_game' %}">Create Game</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'your_game' %}">Your Games</a>
            </li>
            <li>
                <a class="dropdown-item" href="{% url 'choose_game' %}">Choose Game</a>
            </li>
            <li>
              <a class="dropdown-item" href="logout">Logout</a>
            </li>
          </ul>
        </li>
      </div>
    </div>
  </nav>
<h1>games submitted by you</h1>

<table class="table table-striped table-hover table-bordered">
    <thead>
    <tr>
        <th scope="col">Games</th>
        <th scope="col">Game Description</th>
        <th scope="col">Approved</th>
        <th scope="col">Status(checked by admin)</th>
    </tr>
    </thead>
    <tbody>
    {% for game in games %}
        <tr>
        <td>
            <a href="{% url 'display_game_detail' game.id %}"> {{ game.name }}</a>
        </td>
            <td>
            {{ game.dis }}
        </td>
        <td>
            {{ game.approved }}
        </td>
          <td>
            {{ game.status }}
        </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
<a href="{% url 'Home' %}" >back to homepage</a><br>

</body>
</html>

{#learned how to make a link in the table for further details in this URL: https://www.youtube.com/watch?v=DCmxC0NyfrA&list=PLmEKHA8iFrmD6YEiuROna3JmNC7fjq6go&index=2#}